<div id="page" class="content-area mxw-600">

  <header role="banner">
    <h1>ember-aria-switch</h1>
    <h2>
      <abbr title="Accessible Rich Internet Applications">ARIA</abbr> Switch Demo
    </h2>
    <p>
      Examples of an ARIA Switch button through an Ember addon.  For more information about this component, please read <a href="https://www.w3.org/TR/wai-aria-1.1/#switch">The ARIA 1.1 switch role specification</a>,
      <a href="http://inclusive-components.club/toggle-button/">Inclusive Components Toggle Buttons</a>, <a href="https://github.com/rajasegar/ember-aria-switch">the GitHub repo for this code</a> and the <a href="https://github.com/scottaohara/aria-switch-button">original</a> ARIA Switch button.
    </p>
  </header>

  <main aria-label="Demo Content">
    {{outlet}}
   </main>

</div>
